  <connectionStrings>
    <add name="hpcdsDbContext" connectionString="metadata=res://*/Models.hpcdsModel.csdl|res://*/Models.hpcdsModel.ssdl|res://*/Models.hpcdsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=hpcds-dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>