@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Invalid Token";
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h2 class="text-danger">This token is either expired, already used or meant for someone else, please request for a new token.</h2>

