@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to perform password recovery.
    </p>
</div>

@section DebugMode {
    @if (this.Context.IsDebuggingEnabled && !string.IsNullOrEmpty(ViewBag.DebugMessage))
    {
        @Html.Raw(@ViewBag.DebugMessage)
    }
}
