  <connectionStrings>
    <add name="hpcdsDbContext" connectionString="metadata=res://*/Models.hpcdsModel.csdl|res://*/Models.hpcdsModel.ssdl|res://*/Models.hpcdsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=hpcds-dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="authDbContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=hpcds-auth;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>