$base-theme:Default;
$skin-name:NordicPinkInterior; // Pink is too light and doesn't pass 508
$border-radius: 2px;
$accent: #bb334f;
$info: #46b8e0;
$success: #90bf4f;
$warning: #ffc857;
$error: #e14d61;
$text-color: #50686e;
$bg-color: #ffffff;
$base-text: #1e3034;
$base-bg: #f5f6f7;
$hovered-text: #1e3034;
$hovered-bg: #f8dde2;
$selected-text: #ffffff;
$selected-bg: #e7607b;
$series-a: #e7607b;
$series-b: #bb334f;
$series-c: #6bd2e2;
$series-d: #01A8C1;
$series-e: #ddc981;
$series-f: #c09e2f;
