$base-theme:Default;
$skin-name:NoricHotPink;  // Updated to be 508 Compliant
$border-radius: 5px;
$accent: #c3436e;
$info: #80deea;
$success: #a5d6a7;
$warning: #ffecc7;
$error: #ffbfc4;
$text-color: #32364c;
$bg-color: #ffffff;
$base-text: #32364c;
$base-bg: #f8fafb;
$hovered-text: #32364c;
$hovered-bg: #ffe7e9;
$selected-text: #ffffff;
$selected-bg: #ff4081;
$series-a: #ff4350;
$series-b: #ff9ea5;
$series-c: #00acc1;
$series-d: #80deea;
$series-e: #ffbf46;
$series-f: #ffd78c;
